.container_header {
  background-color: #eee;
  top: 0;
  width: 100%;
  border-bottom: 1px solid rgb(225, 211, 211);
  .content_admin {
    padding: 0px 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    font-size: 1.2rem;
  }
  .login {
    button {
      background: linear-gradient(
        91deg,
        rgb(153, 107, 237) 0%,
        rgb(7, 89, 212) 100%
      );
      padding: 8px 16px;
      border-radius: 5px;
      color: white;
    }
  }
}
