.container_header {
  background-color: #eee;
  top: 0;
  width: 100%;
  border-bottom: 1px solid rgb(225, 211, 211);
  .content_admin {
    padding: 0px 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    font-size: 1.2rem;
  }
  .login_admin {
    display: flex;
    justify-content: center;
    svg {
      margin-top: 10px;
    }
    button {
      background-color: #eee;
      color: black;
      border: none;
      font-size: 1.2rem;
      font-weight: bold;
    }
    button:active {
      background-color: #eee;
      color: black;
    }
  }
}
