.container_movieInf {
  margin-top: 120px;
  min-height: 100vh;

  .content_card {
    margin: 20px 0px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-bottom: 1px rgb(214, 207, 207) solid;
    background-image: url("https://res.cloudinary.com/dcoviwlpx/image/upload/v1742293855/bg2_haubv8.jpg");
    background-repeat: no-repeat; /* Ngăn hình ảnh nền lặp lại */
    background-size: cover;
    position: relative;
    color: white;
    box-sizing: border-box;
    border-radius: 10px;

    .card_movie {
      margin-left: 80px;
      margin-top: 10px;
      img {
        height: 400px;
        width: 80%;
        border-radius: 10px;
      }
      button {
        width: 80%;
        margin: 10px 0px;
        position: relative;
      }
    }
    .card_inf {
      margin-top: 20px;
      h2 {
        margin-bottom: 20px;
      }
      .inf {
        margin-top: 20px;
        h5 {
          margin-top: 10px;
        }
      }
    }
  }

  .content_card1 {
    display: grid;
    grid-template-columns: 4fr 1fr;
    .content_trailer {
      margin: 20px 0px;
      h2 {
        text-align: center;
      }
      iframe {
        margin-top: 10px;
        margin-left: 10%;
        width: 80%;
        height: 400px;
        border-radius: 10px;
      }
      .mb-3 {
        margin-top: 10px;
        margin-left: 10%;
        .input_control {
          position: relative; /* Tạo ngữ cảnh định vị cho nút */
          .form-control {
            width: 90%;
            padding-right: 80px; /* Tạo khoảng trống cho nút */
            box-sizing: border-box; /* Đảm bảo padding không ảnh hưởng đến kích thước tổng thể */
          }
          .send-button {
            position: absolute; /* Định vị tuyệt đối */
            bottom: 10px; /* Cách đáy 10px */
            right: 12%; /* Cách phải 10px */
            background-color: #28a745;
            color: white;
            padding: 5px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
          }
        }
      }
    }
    .tab_movie {
      margin-right: 20px;
      border: 1px solid rgb(196, 191, 191);
      border-radius: 10px;
      .tab_btn {
        margin-left: 10px;
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .coming,
        .showing {
          background-color: #eee;
          color: black;
          margin: 0 10px;
        }
        .coming.active,
        .showing.active,
        .special.active {
          background-color: #ff0000;
          color: #fff;
        }
      }
    }
    .tab_list {
      margin-top: 20px;
      a {
        text-decoration: none;
        color: black;
      }
      .data {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        margin-bottom: 10px;
        border-bottom: 1px solid rgb(229, 216, 216);
      }
      img {
        height: 120px;
        width: 100px;
        border-radius: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
      }
      .list_data {
        margin-left: 10px;
      }
    }
  }
}
