.content_page {
  margin-top: 90px;
  height: 80vh;
  margin-left: 220px;
}
.table {
  padding: 40px;
}
.control {
  padding-left: 40px;
  padding-top: 20px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
}

.d-flex_admin {
  position: relative;
  display: flex;
  align-items: center;
  .me-2 {
    padding-left: 30px;
  }
  .search-icon {
    margin-right: 5px;
    position: absolute;
    left: 10px; /* Điều chỉnh vị trí icon */
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Cho phép click xuyên qua icon */
  }
}
