.page_trans {
  margin-top: 90px;
  height: 80vh;
  margin-left: 220px;
  .control_trans {
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
  }
  .table_trans {
    padding: 40px;
  }
}
