.container_header {
  background-color: #eee;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid rgb(225, 211, 211);
  .content {
    padding: 0px 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    font-size: 1.2rem;
  }
  .login {
    .drop_down {
      display: flex;
      justify-content: center;
      svg {
        margin-top: 10px;
      }
      button {
        background-color: #eee;
        color: black;
        border: none;
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
    .btn_login {
      button {
        background: linear-gradient(
          91deg,
          rgb(153, 107, 237) 0%,
          rgb(7, 89, 212) 100%
        );
        padding: 8px 16px;
        border-radius: 5px;
        color: white;
      }
    }
  }
}
