.navbar-expand .navbar-nav {
  gap: 80px;
  font-size: 1.3rem;
  font-weight: bold;
}
.bg-light {
  background-color: #eee !important;
}
.d-flex {
  margin-left: 100px;
}
.navbar-expand .navbar-nav .nav-link {
  padding: 0;
}

.nav-link.active {
  color: #ff0000 !important;
}
