.container_footer {
  background-color: #eee;
  margin-top: 20px;

  .footer {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 5px 0;
    color: #0f1b4c;
    cursor: pointer;
    ul {
      list-style: none;
    }
    ul li {
      padding: 5px;
    }
    h4 {
      text-align: center;
      font-size: 1.2rem;
      font-weight: 600;
      margin: 10px 0;
    }

    .left_link {
      flex: 1;
      margin-left: 15px;
      border-right: 1px solid rgb(228, 225, 225);
      img {
        width: 120px;
        height: 70px;
        margin: 15px;
        margin-left: 50px;
        object-fit: cover;
      }
    }
    .center_info {
      flex: 3;
      border-right: 1px solid rgb(228, 225, 225);

      .list_movie {
        display: flex;
        justify-content: space-around;
      }
    }
    .center_social {
      flex: 1.2;
      border-right: 1px solid rgb(228, 225, 225);
      .img {
        display: flex;
        justify-content: center;
        img {
          margin: 0 10px;
        }
      }
    }
    .right_contact {
      flex: 1.2;
      margin-right: 15px;
    }
  }
}
