.container_movie {
  margin-top: 110px;
  .movie {
    display: grid;
    grid-template-columns: repeat(4, minmax(240px, 1fr));
    grid-auto-rows: auto;
    padding: 20px;
    justify-items: center;
    overflow: hidden;
    margin-bottom: 10px;
  }
}
.card-img-top {
  height: 300px;
}
.card-title {
  text-align: center;
}
.card-text {
  padding: 2px;
  margin-bottom: 15px;
  p {
    padding: 2px;
  }
}
.button {
  padding: 10px 0;
  margin-top: 8px;
  background-color: #0f1b4c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3sease;
  width: 100%;
  text-align: center;

  :hover {
    background-color: white;
  }
}
