.container_movie {
  .movie {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, minmax(240px, 1fr));
    grid-auto-rows: auto;
    padding: 20px;
    justify-items: center;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .link_movie {
    display: flex;
    justify-content: right;
    a {
      text-decoration: none;
    }
    .btn_view_movie {
      padding: 10px 20px;
      background-color: #0f1b4c;
      color: #fff;
      border: none;
      border-radius: 5px;
      margin-right: 60px;
      cursor: pointer;
      display: block;
    }
  }
  .button_data {
    display: flex;
    justify-content: center;
    .coming {
      a {
        font-size: 1.5rem;
        margin: 0 50px;
        background-color: #fff;
        color: #0f1b4c;
        border: none;
        text-decoration: none;
      }
      :hover {
        text-decoration: underline;
        text-decoration-color: blue;
        color: rgb(13, 201, 243);
      }
    }
    .showing {
      a {
        font-size: 1.5rem;
        margin: 0 50px;
        background-color: #fff;
        color: #0f1b4c;
        border: none;
        text-decoration: none;
      }
      :hover {
        text-decoration: underline;
        text-decoration-color: blue;
        color: rgb(13, 201, 243);
      }
    }
    .special {
      a {
        font-size: 1.5rem;
        margin: 0 50px;
        background-color: #fff;
        color: #0f1b4c;
        border: none;
        text-decoration: none;
      }
      :hover {
        text-decoration: underline;
        text-decoration-color: blue;
        color: rgb(13, 201, 243);
      }
    }
  }
}
.card-img-top {
  height: 300px;
}
.card-title {
  text-align: center;
}
.card-text {
  padding: 2px;
  margin-bottom: 15px;
  p {
    padding: 2px;
  }
}
.button {
  padding: 10px 0;
  margin-top: 8px;
  background-color: #0f1b4c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3sease;
  width: 100%;
  text-align: center;

  :hover {
    background-color: white;
  }
}
