.service_container {
  min-height: 100vh;
  margin-top: 130px;
  margin-left: 50px;
  margin-right: 50px;
  border: 1px solid rgb(220, 208, 208);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 3fr 1fr;

  .service {
    .inf_account {
      border-bottom: 1px solid rgb(220, 208, 208);
      .label {
        font-size: 1.5rem;
        text-align: center;
        font-weight: bolder;
        margin-top: 10px;
        color: red;
      }
      .label_account {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        label {
          font-size: 1.2rem;
          font-weight: bold;
        }
      }
      .input {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        margin-bottom: 50px;
        input {
          border-radius: 10px;
          font-size: 1.2rem;
          text-align: center;
        }
      }
    }
    .inf_service {
      border-bottom: 1px solid rgb(220, 208, 208);
      .label {
        font-size: 1.5rem;
        text-align: center;
        font-weight: bolder;
        margin-top: 10px;
        color: red;
      }
      .label_service {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 1fr;
        place-items: center;
        label {
          font-size: 1.2rem;
          font-weight: bold;
          font-style: italic;
        }
      }
      .input {
        .service-item {
          display: grid;
          grid-template-columns: 1fr 1fr 2fr 1fr;
          place-items: center;
          p {
            font-size: 1.2rem;
          }
        }
        .quantity {
          svg {
            height: 1.5rem !important;
            width: 1.5rem !important;
            cursor: pointer;
            #Circle_Plus {
              color: darkgreen;
            }
            #Circle_Minus {
              color: chocolate;
            }
          }
          margin-left: 35%;
          input {
            border-radius: 10px;
            font-size: 1.2rem;
            width: 20%;
            margin: 0 10px;
            text-align: center;
          }
        }
      }
    }
    .inf_voucher {
      .label {
        font-size: 1.5rem;
        text-align: center;
        font-weight: bolder;
        color: red;
        margin-top: 10px;
      }
      .voucher {
        margin-left: 20px;
        margin-bottom: 20px;
        .form-select {
          width: 20%;
        }
      }
      .price {
        margin-bottom: 30px;
        .label_price {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          place-items: center;
          .form-label {
            font-size: 1.2rem;
          }
        }
        .show_price {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          place-items: center;
          p {
            font-size: 1.2rem;
          }
        }
      }
    }
    .time_out {
      font-size: 1.2rem;
      font-weight: bold;
      float: right;
      margin: 20px 50px 0px 20px;
    }
  }

  .inf {
    border-left: 1px solid rgb(220, 208, 208);
    .inf_showtime {
      margin: 10px;
      z-index: 10;
      h3 {
        text-align: center;
        margin-bottom: 20px;
        color: red;
        font-weight: bold;
      }
      img {
        height: 20%;
        width: 70%;
        margin-left: 15%;
        border-radius: 10px;
        margin-bottom: 20px;
      }
      p {
        font-size: 1.2rem;
        font-weight: bold;
        padding: 10px 0px;
      }
    }
  }
}
