.w-100 {
  width: 80% !important;
  height: 400px;
  margin: 0 10%;
  margin-top: 130px;
  position: relative;
}
.carousel {
  margin-bottom: 50px;
  p {
    margin-top: 500px;
    text-align: center;
  }
}
